div {
    margin: 20px 0
}

.header {
    height: 100px;
    background-color: pink;
    border: 1px solid red
}

.navbar {
    height: 100px;
    background-color: gold;
    border: 1px solid orange
}

.content {
    height: 300px;
    background-color: skyblue;
    border: 1px solid blue
}

.footer {
    height: 200px;
    background-color: lightgreen;
    border: 1px solid green
}


@media only screen and (min-width: 800px) {
    .body>div {
        margin: 0
    }

    .navbar {
        width: 24%;
        height: 500px;
        display: inline-block
    }

    .content {
        width: 74%;
        height: 500px;
        display: inline-block
    }
}